*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {

	background-image: url(img/image.jpg);
	background-position: center;
	background-size:cover;
	font-family: sans-serif;
	margin-top: 40px;
	text-align: center;
	}

form {
	width: 700px;
		background-color: rgb(0,0,0);
        opacity: .8;
        margin: auto;
		color: #FFFFFF;
		padding: 40px 0px 40px 0px;
		text-align:center;
		border-radius: 15px 15px 0px 0px;
}



.error {
    background-color: red;
    border: 2px black solid;
    display: block;
    color: aliceblue;
    margin-top: 1rem;
    padding: 1rem;
}

.hide {
    display: none;
}